[Unit]
Description=Keyboard Daemon

[Service]
ExecStart=/bin/bash -c '/etc/trabalhator/mouse.sh start'
ExecStop=/bin/kill -9 $MAINPID
ExecStop=/bin/bash -c '/etc/trabalhator/mouse.sh stop'
Restart=no
User=root

[Install]
WantedBy=multi-user.target 
